<div class="container">
      <div class="row">
      <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-9 col-md-9 col-sm-9 col-xs-12">
            <div class="rightbar">
                <div class="top_c">
                     
  <p>AACInfo is a monthly newsletter of all things AAC (Augmentative &amp; Alternative Communication) edited by the <a href="/about">ACE Centre</a>. Information is sourced from suppliers, user forums, twitter and email lists. If you have a news item that you think should be included please add it <a href="/posts">here</a>. You can view some example newsletters in our <a href="/archives">archive</a>. If you like the sound of this <a href="/subscribe">please sign-up here</a> (we promise to <i>never</i> pass on your details to another organisation) </p>
  <p><a class="btn btn-lg btn-success" href="/subscribe" role="button">Sign up today</a></p>
                 </div>  
                         
              </div>
          </div>
      <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
          
      </div>

      <div class="ace_logo"><a href="#"><img src="/assets/images/ace_logo.png" alt=""></a></div>
</div>