     <header id="header" class="site-header">
       <div class="top-bar">
		     <div class="site-link">
			     <a href="https://acecentre.org.uk/" target="_blank">Ace Centre</a>
		     </div>
		     <div class="social-media">
			     <ul class="social-links">
             <!-- SOCIAL MEDIA LINKS -->
             <li>
	             <a href="https://twitter.com/acecentre" rel="me" target="_blank">
		             <svg id="icon-twitter" data-name="Twitter Icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="32" height="32"><defs><clipPath id="clip-path"><rect class="cls-1" x="1" y="1" width="30" height="30"></rect></clipPath></defs><title>twitter</title><g class="cls-2"><path class="cls-3" d="M16,31A15,15,0,1,0,1,16,15,15,0,0,0,16,31"></path><path class="cls-4" d="M24.29,11.92a6.78,6.78,0,0,1-2,.54,3.41,3.41,0,0,0,1.5-1.88,6.82,6.82,0,0,1-2.16.83,3.41,3.41,0,0,0-5.8,3.1,9.66,9.66,0,0,1-7-3.56,3.41,3.41,0,0,0,1.05,4.54,3.39,3.39,0,0,1-1.54-.43s0,0,0,0a3.41,3.41,0,0,0,2.73,3.34,3.43,3.43,0,0,1-.9.12,3.38,3.38,0,0,1-.64-.06,3.41,3.41,0,0,0,3.18,2.36,6.86,6.86,0,0,1-5,1.41,9.68,9.68,0,0,0,14.9-8.15c0-.15,0-.29,0-.44a6.91,6.91,0,0,0,1.7-1.76"></path></g></svg>
	             </a>
             </li>
             <li>
	             <a href="https://www.facebook.com/AceCentre.uk/" rel="me" target="_blank">
		             <svg id="icon-facebook" data-name="Facebook Icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="32" height="32"><defs><clipPath id="clip-path"><rect class="cls-1" x="1" y="1" width="30" height="30"></rect></clipPath></defs><title>facebook</title><g class="cls-2"><path class="cls-3" d="M16,31A15,15,0,1,0,1,16,15,15,0,0,0,16,31"></path><path class="cls-4" d="M20,13H17.28V11.17a.73.73,0,0,1,.76-.83H20v-3H17.31A3.36,3.36,0,0,0,13.69,11v2H12v3h1.7v8.63h3.59V16H19.7Z"></path></g></svg>
	             </a>
             </li>
             <!-- SOCIAL MEDIA LINKS END -->
			     </ul>
		     </div>
	     </div>
       <div class="logo">
         <a href="#"><img src="/assets/images/AACInfo.png" width="200px" alt=""></a>
       </div>
       <!-- main navigation -->
       <div id="nav">
         <a href="#" class="menu_res"><span></span><span></span><span></span></a>
         <div class="nav_inner clearfix">
           <ul>
             <li ng-class="getClassMenu('home')"><a ui-sref="root.home">Home</a></li>
             <li ng-class="getClassMenu('subscribe')"><a ui-sref="root.subscribe">Subscribe</a></li>
             <li ng-class="getClassMenu('archives')"><a ui-sref="root.archives" >Archives</a></li>
             <li ng-class="getClassMenu('posts')"><a ui-sref="root.posts" >Post</a></li>
             <li ng-class="getClassMenu('about')"><a ui-sref="root.about">About</a></li>
             
           </ul>
         </div>
       </div>
     </header>
     <section>
	     <main class="inner-container">
		     <div class="full-width-content">
			     <div class="wrapper">
             <div id="content" ui-view></div>
			     </div>
		     </div>
	     </main>
     </section>
     <footer id="footer-container">
		   <div class="footer-top">
			   <div class="wrapper">
				   <div class="footer-logo">
					   <img src="/assets/images/ace-centre-logo.png" alt="Ace Centre">
				   </div>
				   <div class="footer-information">
					   <div class="footer-menu">
						   <div class="social-media">
							   <ul class="social-links">
                   <!-- SOCIAL MEDIA LINKS -->
                   <li>
	                   <a href="https://twitter.com/acecentre" rel="me" target="_blank">
		                   <svg id="icon-twitter" data-name="Twitter Icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="32" height="32"><defs><clipPath id="clip-path"><rect class="cls-1" x="1" y="1" width="30" height="30"></rect></clipPath></defs><title>twitter</title><g class="cls-2"><path class="cls-3" d="M16,31A15,15,0,1,0,1,16,15,15,0,0,0,16,31"></path><path class="cls-4" d="M24.29,11.92a6.78,6.78,0,0,1-2,.54,3.41,3.41,0,0,0,1.5-1.88,6.82,6.82,0,0,1-2.16.83,3.41,3.41,0,0,0-5.8,3.1,9.66,9.66,0,0,1-7-3.56,3.41,3.41,0,0,0,1.05,4.54,3.39,3.39,0,0,1-1.54-.43s0,0,0,0a3.41,3.41,0,0,0,2.73,3.34,3.43,3.43,0,0,1-.9.12,3.38,3.38,0,0,1-.64-.06,3.41,3.41,0,0,0,3.18,2.36,6.86,6.86,0,0,1-5,1.41,9.68,9.68,0,0,0,14.9-8.15c0-.15,0-.29,0-.44a6.91,6.91,0,0,0,1.7-1.76"></path></g></svg>
	                   </a>
                   </li>
                   <li>
	                   <a href="https://www.facebook.com/AceCentre.uk/" rel="me" target="_blank">
		                   <svg id="icon-facebook" data-name="Facebook Icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" width="32" height="32"><defs><clipPath id="clip-path"><rect class="cls-1" x="1" y="1" width="30" height="30"></rect></clipPath></defs><title>facebook</title><g class="cls-2"><path class="cls-3" d="M16,31A15,15,0,1,0,1,16,15,15,0,0,0,16,31"></path><path class="cls-4" d="M20,13H17.28V11.17a.73.73,0,0,1,.76-.83H20v-3H17.31A3.36,3.36,0,0,0,13.69,11v2H12v3h1.7v8.63h3.59V16H19.7Z"></path></g></svg>
	                   </a>
                   </li>
                   <!-- SOCIAL MEDIA LINKS END -->
                   <li><a href="/privacy">Privacy Policy</a></li>
							   </ul>
						   </div>
					   </div>
					   <div class="charity-information">
               <p>Copyright &copy; 2014 Ace Centre. Ace Centre is a registered charity in England and Wales (charity number 1089313) and a company limited by guarantee (company number 04268143). Registered office: Ace Centre, Hollinwood Business Centre, Albert Street, Oldham, OL8 3QL. VAT registration number 785728278</p>
					   </div>
				   </div>
			   </div>
		   </div>
	   </footer>
