<div class="container">
            <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-9 col-md-9 col-sm-9 col-xs-12">
                  <div class="rightbar">
                      <div class="top_c bodyContent">
                        <ul id="archive-list">
                          <div class="display_archive" ng-repeat="camp in campaigns">
                              <li class="campaign">{{ camp.date }} - <a target="_blank" title="[AACInfo Monthly] - Title" ng-href="{{ camp.archive_url }}">{{ camp.title }}</a>
                              </li>
                          </div>
                          <!--
                            {% for campaign in campaign_list %}
                            <div class="display_archive">
                              <li class="campaign">{{ campaign.date }} - <a target="_blank" title="[AACInfo Monthly] - Title" href="{{ campaign.archive_url }}">{{ campaign.title }}</a>
                              </li>
                            </div>
                            {% endfor %}
                          -->
                        </ul>
                      </div>  
                    </div>
                </div>
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                
            </div>

            <div class="ace_logo"><a href="#"><img src="/assets/images/ace_logo.png" alt=""></a></div>
      </div>