
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AACNews Monthly</title>

    <!-- Bootstrap core CSS -->
  <link href="/admin/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/admin/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/admin/static/admin/css/admin.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/subscribe">Subscribe</a></li>
          <li role="presentation"><a href="http://us7.campaign-archive2.com/home/?u=d05eb11e79c97878b9f10fd9c&id=93471cc66b">Archives</a></li>
          <li role="presentation"><a href="/post">Post an item</a></li>
          <li role="presentation" class="active"><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">AACNews</h3>
      </div>

      <div class="jumbotron">
        <p><a href="/" title="Return to the homepage" id="logo">
        <img src="/static/AACNews.png" width="200px" />
        </a> </p>      
        <p class="lead">AACNews is made by the folks at <a href="http://acecentre.org.uk">ACE Centre</a>, a UK national charity that provides assesment, training and advice to professionals, families and clients directly on AAC (Augmentative &amp; Alternative Communication) and special access to technology. If you wish to submit at an article please do so <a href="/post">here</a>. Please be aware that entries are screened before being published and we try to make it less spammy by posting things only once. Please feel free to contact us on <a href="http://twitter.com/acecentre">twitter</a>, or via our contact page at <a href="http://acecentre.org.uk/contact-us">our ACE Centre website</a> </p>
      </div>

      <div class="footer">
        <p>&copy; ACE Centre 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
