{% extends 'admin/master.html' %}

{% block head_css %}
        {{ super() }}
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{{ super() }}

    <div>
        {{ template_content|safe }}
    </div>
    <div class="buttons-email-preview">
        <a class="btn btn-danger pull-right" onclick="cancel_email(); return false;">Cancel</a>
        <a class="btn btn-success pull-right" onclick="send_email(); return false;">Send</a>
    </div>
    <form id="email_cancel_form" method="post" action="{{ url_for('emailview.email_cancel_action') }}">
    	<input type="hidden" name="cid" value="{{ cid }}"/>
        <input type="hidden" name="content" value="{{ template_content }}"/>

    </form>

	<script type="text/javascript">
		function send_email() {
			$.ajax({
				type: "POST",
				url: "{{ url_for('emailview.email_send_action') }}",
				data: { spoiler: "{{ spoiler }}", title: "{{ title }}", preamble : "{{ preamble }}", content : $("#email_cancel_form input[name='content']").val(), cid : "{{ cid }}", ids : "{{ ids }}" },
				success: function(msg) {
                    $('#notificationSuccessModal').modal({
                      backdrop: 'static'
                    })
				},
                error: function() {

                }
			});
		}
		function cancel_email() {
			$("#email_cancel_form").submit();
		}

	</script>

    <div id="notificationSuccessModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">Message</h4>
          </div>
          <div class="modal-body">
            <p>Notification was sent successfully</p>
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('emailview.index_view') }}" class="btn btn-primary">Ok</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock body %}