{% extends 'admin/master.html' %}

{% block head_css %}
        {{ super() }}
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{{ super() }}

    <div>
        {{ template_content|safe }}
    </div>
    <div class="buttons-email-preview">
        <a href="" class="btn btn-danger pull-right">Cancel</a>
        <a id="email_send" href="" class="btn btn-success pull-right" onclick="emails_send(); return false;">Send</a>
    </div>

{% endblock body %}
