
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AACNews Monthly</title>

    <!-- Bootstrap core CSS -->
  <link href="/admin/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/admin/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/admin/static/admin/css/admin.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/subscribe">Subscribe</a></li>
          <li role="presentation"><a href="http://us7.campaign-archive2.com/home/?u=d05eb11e79c97878b9f10fd9c&id=93471cc66b">Archives</a></li>
          <li role="presentation"><a href="/post">Post an item</a></li>
          <li role="presentation"><a href="/about">About</a></li>
        </ul>
        <h3 class="text-muted">AACNews</h3>
      </div>

      <div class="jumbotron">
        <p><a href="/" title="Return to the homepage" id="logo">
        <img src="/static/AACNews.png" width="200px" />
        </a> </p>
        {% if posted %}
        <p class="lead">Many thanks for adding your news item!</p>
        {% else %}        
        <p class="lead">AACNews is a monthly newsletter of all things AAC (Augmentative &amp; Alternative Communication) edited by the <a href="/about">ACE Centre</a>. Information is sourced from suppliers, user forums, twitter and email lists. If you have a news item that you think should be included please add it <a href="/post">here</a>. You can view some example newsletters in our <a href="http://us7.campaign-archive2.com/home/?u=d05eb11e79c97878b9f10fd9c&id=93471cc66b">archive</a>. If you like the sound of this <a href="/subscribe">please sign-up here</a> (we promise to <i>never</i> pass on your details to another organisation) </p>
        <p><a class="btn btn-lg btn-success" href="/subscribe" role="button">Sign up today</a></p>
        {% endif %}
      </div>


      <div class="footer">
        <p>&copy; ACE Centre 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
