{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated() %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}


{% block main_menu %}
	{% if current_user.is_authenticated() %}
		{{ super() }}
	{% else %}
	<ul class="nav">
	  {% for item in admin_view.admin.menu() %}
	      {% if item.is_accessible() and item.is_visible() %}
	        {% if item.is_active(admin_view) %}
	        	<li class="active">
	        {% else %}
	        	<li>
	        {% endif %}
	        {% set link = item.get_url() %}
	        {% set postview = url_for('postview.index_view') %}
	        {% if link == postview %}
	        	{% set link = '/post' %}
	        {% endif %}
          	<a href="{{ link }}">{{ item.name }}</a>
        	</li>
	      {% endif %}
	  {% endfor %}
	</ul>
	{% endif %}
{% endblock %}