<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>AACInfo Monthly</title>
<link rel="stylesheet" href="/static/fonts/fonts.css">
<link rel="stylesheet" href="/static/style/font-awesome.css">
<link rel="stylesheet" href="/static/style/bootstrap-theme.css">
<link rel="stylesheet" href="/static/style/bootstrap.css">
<link rel="stylesheet" href="/static/style/style.css">
<link rel="stylesheet" href="/static/style/responsive.css">
<link rel="stylesheet" href="/static/styles.css">
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
	
	$("#nav a.menu_res").click(function (e) {
		e.preventDefault();
		
		if($("#nav").find('.activemenu').length > 0){
			$(".nav_inner").css("left","-200px");
			$(this).removeClass("activemenu");
		} else {
			$(".nav_inner").css("left","0");
			$(this).addClass("activemenu");
		}			
		$(".nav_inner").addClass("done");
		$("body").addClass("bigsize");
		
	});

     $("#postForm").validate({
        rules: {
            link: {
                url: true,
                remote: {
                    type: "GET",
                    url: "{{ url_for('isurlvalid') }}",
                    data: { url: $("#link").val() },
                    async: false,
                    dataType: 'json'
                }
            }
        },
        messages: {
            link: {
                remote: "URL is already taken."
            }
        }
      });

});
</script>
</head>

<body>
	<div id="header">
    	<div class="container">     
        	<div class="logo"><a href="#"><img src="/static/images/AACInfo.png" width="200px" alt=""></a>
			</div>
           	<div id="nav">
            	<a href="#" class="menu_res"><span></span><span></span><span></span></a>
            	<div class="nav_inner clearfix">
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/subscribe">Subscribe</a></li>
                      <li><a href="/archive">Archives</a></li>
                      <li class="active"x><a href="/post">Post</a></li>
                      <li><a href="/about">About</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
    	<div class="container">
            <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-9 col-md-9 col-sm-9 col-xs-12">
                	<div class="rightbar">
                    	<div class="top_c">
    	 {% if posted %}
        <p>Many thanks for adding your news item!</p>
        <img src="http://api.stathat.com/c?ukey=NzQ0MiA9VR5z91wphzWB6A2qes7g&key=I0PcmlcobfY5vyFOclxcbyBPbDUw&count=1" style="display:none;" width="1" height="1">
        {% else %}
        <div class="text-center small"> 
                        <a href="/mission">(What kinds of items do we approve?)</a><br /><br />
        </div>
        <form id="postForm" action="{{ url_for('post') }}" method="POST" class="form-horizontal" enctype="multipart/form-data">
      <fieldset>
          <div class="form-group">
              <label class="col-md-4 control-label" for="s2id_autogen1">Type </label>
            <div class="col-md-6">
              <select data-allow-blank="1" data-role="select2" id="type" name="type" tabindex="-1" class="select2-offscreen form-control">
                  {% for type in types %}
                     <option value="{{ type.id }}">{{ type.name }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <div class="control-label">
              <label class="col-md-4 control-label" for="title">Title<strong style="color: red">*</strong></label>
            </div>
            <div class="col-md-6">
              <input id="title" name="title" type="text" value=""  maxlength="450" required class="form-control">
            </div>
          </div>
          
          <div class="form-group">
              <label class="col-md-4 control-label" for="text">Description (450 characters) (you can style it with <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> if you like)<strong style="color: red">*</strong></label>
              <div class="col-md-6">
                <textarea id="text" name="text" maxlength="450" required class="form-control"></textarea>
              </div>
          </div>          
          
          <div class="form-group">
              <label class="col-md-4 control-label" for="link">URL (a link to the item)</label>
              <div class="col-md-6">
                <textarea id="link" name="link" maxlength="450" class="form-control"></textarea>
              </div>     
            </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="author">Shared by (e.g. twitter @username, email or just name)</label>
            <div class="col-md-6">
                <input id="author" name="author" type="text" value="" maxlength="450" class="form-control">
            </div>
          </div>

          <div class="form-group text-center">
                <input type="submit" class="btn btn-primary btn-large" value="Submit">
                <a href="{{ url_for('admin.index') }}" class="btn btn-large">Cancel</a>
          </div>

      </fieldset>
    </form>
    </div> {% endif %}

                       </div>  
                               
                    </div>
                </div>
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                
            </div>

            <div class="ace_logo"><a href="#"><img src="/static/images/ace_logo.png" alt=""></a></div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
          <div class="f_links">
              <ul class="clearfix">
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="social">
              <ul class="clearfix">
                  <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                </ul>
            </div>
            <p>Copyright &copy; 2014 ACE Centre. ACE Centre is a registered charity in England and Wales (charity number 1089313) and a company limited by guarantee (company number 04268143). Registered office: SpeechBubble, Hollinwood Business Centre, Albert Street, Oldham, OL8 3QL. VAT registration number 785728278
  </p>
        </div>
    </div>
</body>
</html>
