<div class="container">
     
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="username" id="inputEmail" class="form-control" placeholder="Username" data-ng-model="loginData.username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" data-ng-model="loginData.password"  placeholder="Password" required="">
        
        <button class="btn btn-lg btn-primary btn-block" data-ng-click="login()" type="submit">Sign in</button>
      </form>

</div>