<div class="container">
            <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-8 col-md-8 col-sm-8 col-xs-8">
                  <div class="rightbar">
                      <div class="top_c">   
        <p class="lead">
AACInfo has been developed by <a href="http://acecentre.org.uk">Ace Centre</a>, a national charity supporting people with complex communication needs.
</p>

<p>We provide a range of specialist AAC services – including advice &amp; information, assessment, equipment loans, training and support - to individuals, families and professionals.  We are also the NHS-England-appointed specialised AAC service provider for the North West and Thames Valley &amp; Wessex regions.</p>

<p>The aim of AACInfo is to provide a concise summary of the many things going on in the world of AAC.  Anyone is welcome to submit a news item. If you have a news item that you think should be included please add it <a href="/posts">here</a>.</p>

<p>Please be aware that all entries are screened by a member of the <a href="http://acecentre.org.uk">Ace Centre Delivery Team</a> before being published – and that typically items are posted only once. For more information on what kinds of things we do and don't accept please see <a href="/mission">our mission here</a>.</p>

<p>AACInfo has been developed on a range of open source solutions. Notably <a href="https://nodejs.org">Node</a>, <a href="https://angularjs.org">AnjularJS</a>, <a href="https://www.npmjs.com/package/mailchimp">mailchimp</a> and <a href="https://www.mongodb.org">MongoDB</a>. All source code is under a <a href="http://choosealicense.com/licenses/gpl-3.0/">GPL v3 licence</a> and is on <a href="https://github.com/ACECentre/aacnews/">GitHub</a>. (An <a href="https://github.com/ACECentre/aacnews/tree/flask">older Python/Flask copy</a> of the site also exists). You are welcome to fork the project but please consider contributing back any enhancements to the project. </p>
      </div>  
                               
                    </div>
                </div>
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                
            </div>

            <div class="ace_logo"><a href="#"><img src="/assets/images/ace_logo.png" alt=""></a></div>
      </div>