<div class="container">
            <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-9 col-md-9 col-sm-9 col-xs-12">
                  <div class="rightbar">
                      <div class="top_c">
                <!-- top_c -->
<h4>Mission</h4>
The AAC industry is fast paced, worldwide and broad.  It is almost impossible for any one person to keep up with everything that is going on.  The aim of this site is to work together to create a concise summary of all the things going on in the world of AAC.  

<h4>Who can submit a news item?</h4>
Anyone can submit a news item for consideration, although all submissions will be screened by a member of ACE Centre’s Service Delivery team before publication.

<h4>What kinds of things get accepted?</h4>
<ul>
<li>New and/or unique developments, updates or product releases<li>
<li>Research and development projects</li>
<li>Job vacancies</li>
</ul>

<h4>What doesn’t get accepted?</h4>
<ul>
<li>Regular training/update events from suppliers</li>
<li>Product advertisements (although ACE Centre are considering the possibilities of sponsorship)</li>
<li>Education/non-AAC resources (although where they are felt to be particularly relevant to the AAC world they may be accepted under ‘Related fields’)</li>
</ul>

                      </div>           
                    </div>
                </div>
            <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                
            </div>

            <div class="ace_logo"><a href="#"><img src="/static/images/ace_logo.png" alt=""></a></div>
      </div>