<div >
<h3>List of Posts</h3>

<div class="row">
  <div class="col-md-8" style="border-width: 1px">
    <form class="form-inline">
		  <div class="form-group">
		    <div class="col-lg-offset-2 col-lg-10">
		    	<div class="checkbox">
			        <label>
			          <input type="checkbox" ng-model="filters.published" ng-change="applyFilters()"> Published
			        </label>
		      	</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-offset-2 col-lg-10">
		    	<div class="checkbox">
			        <label>
			          <input type="checkbox" ng-model="filters.notPublished" ng-change="applyFilters()"> Not published
			        </label>
		      	</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-lg-3 control-label">Interval</label>
		    <div class="col-lg-3">
		      <select class="form-control" ng-model="filters.interval" ng-change="applyFilters()">
            <option value="">All</option>
            <option value="1 week">1 week</option>
            <option value="2 week">2 weeks</option>
            <option value="3 week">3 weeks</option>
            <option value="1 month">1 month</option>
            <option value="2 month">2 months</option>
			   </select>
		    </div>
		  </div>
    </form>
  </div>
  <div class="col-md-4 pull-right">
    <button class="btn btn-primary pull-right" ng-click="publishSelected()">
      <i class="icon-calendar icon-white"></i>&nbsp;Publish selected</button>
    <button class="btn btn-primary pull-right" ng-click="editPost('new')" data-toggle="modal" href="#editModal">
      <i class="icon-calendar icon-white"></i>&nbsp;Create New Post</button>
  </div>
</div>

<table st-table="displayedCollection" st-safe-src="posts" class='table table-striped'>
  <thead>
  	<tr>
      <th ng-show="bulkSelect"></th>
  	  <th st-sort="type.name">Type</th>
  	  <th st-sort="title">Title</th>
  	  <th st-sort="date">Date</th>
  	  <th st-sort="link">URL</th>
  	  <th st-sort="published">Publish</th>
  	  <th st-sort="promoted">Promoted</th>
  	  <th st-sort="priority">Priority</th>
  	  <th st-sort="author">Author</th>
  	  <th>&nbsp;</th>
  	</tr>
  	<tr>
		<th colspan="9">
			<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		</th>
	</tr>
  </thead>
  <tbody>
    <tr ng-repeat='post in displayedCollection'>
      <td ng-show="bulkSelect">
        <input type="checkbox" ng-model="post.selected" />
      </td>
      <td>{{post.type.name}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date:'dd/MM/yyyy'}}</td>
      <td>{{post.link | short_url}}</td>
      <td>{{(post.published?'yes':'no')}}</td>
      <td>{{(post.promoted?'yes':'no')}}</td>
      <td>{{post.priority}}</td>
      <td>{{post.author}}</td>
      <td nowrap class="text-right"><a role='button' class='btn btn-success' ng-href="admin/history/{{post._id}}"><i class="fa fa-history" title="Show all versions"></i></i></a>&nbsp;<button role='button' class='btn btn-primary' ng-click="editPost(post._id)" data-toggle="modal" href="#editModal"><i class="fa fa-pencil-square-o" title="Edit post"></i></button>&nbsp;<button role='button' class='btn btn-danger' ng-click="removePost(post._id)"><i class="fa fa-times" title="Delete post"></i></button></td>
    </tr>
  </tbody>
   <tfoot>
		<tr>
			<td colspan="8" class="text-center">
				<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
			</td>
		</tr>
	</tfoot>
</table>
</div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h4 ng-show='post.id'>Edit Post: {{post.title}}</h4>
		  <h4 ng-hide='post.id'>New Post</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="form" novalidate ng-submit="form.$valid && savePost()"  >
          <div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.post_type.$invalid}">
		    <label for="types" class="col-lg-2 control-label">Type</label>
		    <div class="col-lg-3">
		      <select name="post_type" class="form-control" ng-model="post.type" ng-options="obj.name for obj in types track by obj._id" required="">
			  	<option value="">Select Type</option>
			  </select>
			  <p ng-show="form.$submitted && form.post_type.$error.required" class="help-block">Type is required.</p>
		    </div>
		  </div>
		  <div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.post_title.$invalid}">
		    <label for="post_title" class="col-lg-2 control-label">Title</label>
		    <div class="col-lg-10">
		      <input name="post_title" type="text" class="form-control" id="post_title"
		             placeholder="Title" ng-model="post.title" required="">
		      <p ng-show="form.$submitted && form.post_title.$error.required" class="help-block">Title is required.</p>
		    </div>
		  </div>
		  
		  <div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.post_text.$invalid}">
			

		    <label ng-show="markdown" for="post_text" class="col-lg-2 control-label">Content (Markdown)</label>
		    <div ng-show="markdown" class="col-lg-10">
		    	<button class="btn btn-success pull-right" type="button" ng-click="changeToHTML()" >
	&nbsp;HTML</button><br>
		      <textarea name="post_text" rows="10" type="text" class="form-control" id="post_text"
		             placeholder="Write content" ng-model="post.text" required="">
		      </textarea>
		      <p ng-show="form.$submitted && form.post_text.$error.required" class="help-block">Post content is required.</p>
		    </div>
		    <label ng-show="!markdown" for="post_text_HTML" class="col-lg-2 control-label">Content (HTML)</label>
		    <div ng-show="!markdown" class="col-lg-10">
		      <button class="btn btn-success pull-right" type="button"  ng-click="changeToMarkdown()" >
	&nbsp;Markdown</button><br>
		      <blockquote marked="post.text"></blockquote>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="post_date" class="col-lg-2 control-label">Date</label>
		    <div class="col-lg-3">
		    	  <p class="input-group">		    	  
			      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="post.date" is-open="opened"  datepicker-options="dateOptions" ng-required="true" close-text="Close" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
	              </span>
            </p>
		    </div>
		  </div>
		  <div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.post_url.$invalid}">
		    <label for="post_url" class="col-lg-2 control-label">URL</label>
		    <div class="col-lg-10">
		      <input type="text" name="post_url" class="form-control" id="post_url"
		             placeholder="URL" ng-model="post.link" required="">
		      <p ng-show="form.$submitted && form.post_url.$error.required" class="help-block">Url is required.</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-offset-2 col-lg-10">
		    	<div class="checkbox">
			        <label>
			          <input type="checkbox" ng-model="post.published" ng-disabled="!(auth.isPublisher)"> Publish
			        </label>
		      	</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-offset-2 col-lg-10">
		    	<div class="checkbox">
			        <label>
			          <input type="checkbox" ng-model="post.promoted"> Promote
			        </label>
		      	</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="post_author" class="col-lg-2 control-label">Author</label>
		    <div class="col-lg-3">
		      <input type="text" class="form-control" id="post_author"
		             placeholder="Author" ng-model="post.author">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="priorities" class="col-lg-2 control-label">Priority</label>
		    <div class="col-lg-3">
		      <select class="form-control" ng-model="post.priority">
				  <option value="0">0</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
			   </select>
		    </div>
		  </div>
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>	
		</form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>