<div >
<h3>Email structure</h3>
	<br>
	<div ng-show="message" class="alert alert-success" role="alert">Notification was sent successfully.</div>
	<div ng-show="message_err" class="alert alert-success" role="alert">Some errors occured during notification sending.</div>
	<div ng-show="!builder && !message && !message_err" style="display:inline-block;" class="pull-right">
		<a class="btn btn-danger " ng-click="back()">Cancel</a><span>&nbsp;</span>
    <a ng-disabled="isSaving || isSending" class="btn btn-default" ng-click="saveDraft(draft_id)">&nbsp;Save Draft&nbsp;</a>
    <a ng-disabled="isSending" class="btn btn-success" ng-show="auth.isPublisher" ng-click="send()">&nbsp;Send&nbsp;</a>
	</div>

	<div dynamic="html" id="content" ng-show="!builder && !message && !message_err"></div>

	<span us-spinner spinner-key="spinner-1" spinner-start-active="false"></span>
	<form class="form-horizontal" role="form" ng-show="builder && !message && !message_err" name="form" novalidate ng-submit="form.$valid && preview()" >
    <a class="btn btn-default" data-toggle="modal" href="#openModal">&nbsp;Open Draft&nbsp;</a>
    <a ng-show="draft_id" class="btn btn-default" ng-click="newDraft()">&nbsp;New Email&nbsp;</a>
    <a ng-disabled="isSaving" class="btn btn-default" ng-click="saveDraft(draft_id)">&nbsp;Save Draft&nbsp;</a>
		<button class="btn btn-primary pull-right" type="submit">
	<i class="icon-calendar icon-white"></i>&nbsp;Preview</button>
			<br>
			<br>
		  <div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.email_title.$invalid}">
		    <label for="post_title" class="col-lg-2 control-label">Title</label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control" id="newsletter_title"
		             placeholder="Title" name="email_title" ng-model="email.title" required="">
		        <p ng-show="form.$submitted && form.email_title.$error.required" class="help-block">Title is required.</p>
		    </div>

		  </div>
		  <div ng-show="markdown" class="form-group" ng-class="{ 'has-error' : form.$submitted && form.email_preamble.$invalid}">
		    <label for="newsletter_preamble" class="col-lg-2 control-label">Preamble (Markdown)</label>
		    <div class="col-lg-10">
		      <button class="btn btn-success pull-right" type="button" ng-click="changeToHTML()" >&nbsp;HTML</button><br>
		      <textarea rows="10" type="text" name="email_preamble" class="form-control" id="post_text"
		             placeholder="Write preamble" ng-model="email.preamble" required="">
		      </textarea>
		      <p ng-show="form.$submitted && form.email_preamble.$error.required" class="help-block">Preamble is required.</p>
		    </div>
		  </div>
		  <div ng-show="!markdown" class="form-group" >
		    <label for="newsletter_text_HTML" class="col-lg-2 control-label">Preamble (HTML)</label>
		    <div class="col-lg-10">
		      <button class="btn btn-success pull-right" type="button" ng-click="changeToMarkdown()" >&nbsp;Markdown</button><br>
		      <blockquote marked="email.preamble"></blockquote>
		    </div>
		  </div>
		  <div class="form-group" ng-class="{ 'has-error' : form.$submitted && form.email_spoiler.$invalid}">
		    <label for="newsletter_spoiler" class="col-lg-2 control-label">Spoiler</label>
		    <div class="col-lg-10">
		      <input type="text" type="text" name="email_spoiler" class="form-control" id="post_spoiler"
		             placeholder="Write spoiler" ng-model="email.spoiler" required="">
		      </input>
		      <p ng-show="form.$submitted && form.email_spoiler.$error.required" class="help-block">Spoiler is required.</p>
		    </div>
		  </div>
	</form>
	<!--
	<table class='table table-striped' ng-show="builder && !message && !message_err">
	  <thead>
	  	<tr>
	  	  <th><input type="checkbox" ng-click="checkAll()" ng-model="checkedAll"></th></th>
	  	  <th>Type</th>
	  	  <th>Title</th>
	  	  <th>Date</th>
	  	  <th>Link</th>
	  	  <th>Author</th>
	  	</tr>
	  </thead>
  <tbody>
    <tr ng-repeat='post in posts track by $index'>
      <td><input type="checkbox" ng-model="post.selected" /></td>
      <td>{{post.type.name}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date:'dd/MM/yyyy'}}</td>
      <td>{{post.link}}</td>
      <td>{{post.author}}</td>
    </tr>
  </tbody>
</table>
	-->
</div>
<div class="nestedPosts row" ng-show="builder && !message && !message_err">

	<!-- Main area with dropzones and source code -->
	<div class="col-md-12">
      <div class="row">
        <div class="form-group">
          <label class="col-lg-3 control-label">Period</label>
          <div class="col-lg-3">
            <select class="form-control" ng-model="postFilters.period" ng-change="applyPostFilters()">
              <option value=""></option>
              <option value="1 week">1 week</option>
              <option value="2 week">2 weeks</option>
              <option value="3 week">3 weeks</option>
              <option value="4 week">4 weeks</option>
              <option value="1 month">1 month</option>
              <option value="2 month">2 months</option>
              <option value="3 month">3 months</option>
              <option value="4 month">4 months</option>
              <option value="5 month">5 months</option>
              <option value="6 month">6 months</option>
              <option value="1 year">1 year</option>
              <option value="2 year">2 years</option>
              <option value="3 year">3 years</option>
           </select>
          </div>
        </div>
      </div>
	    <div class="row">
        <div class="col-md-6">
            <div class="box box-yellow">
                <h3>1. Posts to be published</h3>
                <ul>
                  <li ng-repeat="type in post_types">
                    <h3>{{type.name}}</h3>
                    <ul>
                      <li ng-repeat="post in type.posts">
                        {{post.title}} <button ng-click="addPost(post, type)">Add</button>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dropzone box box-yellow">
                <!-- The dropzone also uses the list template -->
                <h3>2. Newsletter structure</h3>
                <div>
                  <ul dnd-list="post_types_pub"
                      dnd-allowed-types="['postTypes']">
                      <li ng-repeat="type_item in post_types_pub"
                          dnd-draggable="type_item"
                          dnd-effect-allowed="move"
                          dnd-type="type_item.type"
                          dnd-moved="post_types_pub.splice($index, 1)"
                          dnd-selected="models.selected = type_item"
                          ng-class="{selected: models.selected === type_item}">
                        <div class="container-element box box-blue">
                            <h3>{{type_item.name}}</h3>
                            <div class="column" ng-repeat="post_list_pub in type_item.columns">
                              <ul dnd-list="post_list_pub"
                                  dnd-disabled-if="true"
                                  dnd-allowed-types="type_item.allowedTypes">
                                  <li ng-repeat="post_item in post_list_pub"
                                      dnd-draggable="post_item"
                                      dnd
                                      dnd-effect-allowed="move"
                                      dnd-type="post_item.type"
                                      dnd-moved="post_list_pub.splice($index, 1)"
                                      dnd-selected="models.selected = post_item"
                                      ng-class="{selected: models.selected === post_item}">
                                    <div class="item">{{post_item.title}} <button ng-click="removePost(post_item, type_item)">x</button></div>
                                  </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
	    </div>
		<!-- only for debugging -->
		<div ng-show="show_json">
		    <div view-source="nested"  highlight-lines="{markup: '1-18, 20-28, 40-42, 57-68, 78-82'}"></div>

		    <h2>Generated Model</h2>
		    <pre>{{modelAsJson}}</pre>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Open Draft</h4>
      </div>
      <div class="modal-body">
				<ul>
					<li ng-repeat="draft in drafts">
						{{draft.title}} | Updated: {{draft.updated}} | <button ng-click="openDraft(draft)" data-dismiss="modal">Select</button>
					</li>
				</ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
